/*
 * Filename: footer.css
 * Path: /home/netoa/Desktop/ags-neto/assets/css
 * Created Date: Sunday April 6th 2025
 * Author: Andre Neto
 * -----
 * Last Modified: Sun Apr 06 2025
 * Modified By: Andre Neto
 */

.site-footer {
  text-align: center;
  color: #ccc;
  font-family: monospace;
  font-size: 0.9em;
  margin-top: 4em;
  padding: 2em 1em;
  background-color: #0d1117;
}

.site-footer a {
  color: #58a6ff;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}

.site-footer hr {
    max-width: 700px;
    margin: 0 auto 1.5em auto; /* center and add spacing below */
    border: none;
    border-top: 1px solid #2c2c2c;
  }
  