/*
 * Filename: profile-card.css
 * Path: /home/netoa/Desktop/ags-neto/assets/css
 * Created Date: Sunday April 6th 2025
 * Author: Andre Neto
 * -----
 * Last Modified: Sun Apr 06 2025
 * Modified By: Andre Neto
 */

.profile-card {
  background-color: #0d1117;
  color: #fff;
  border: 1px solid #30363d;
  border-radius: 8px;
  padding: 1.5em;
  max-width: 700px;
  margin: 2em auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
}

.profile-content {
  max-width: 75%;
}

.profile-content h2 {
  margin: 0 0 0.2em;
  font-size: 1.5em;
  font-weight: bold;
}

.location {
  margin: 0 0 1em;
  color: #8b949e;
  font-size: 0.9em;
}

.social-icons {
  margin-left: 5em;
}

.social-icons a {
  display: inline-block;
  height: 32px;
  width: auto;
  border: 1px solid #44494f;
  border-radius: 6px;
  margin-left: 0em;
  transition: background-color 0.3s, filter 0.3s;
  overflow: hidden; /* ensures image doesn't overflow */
  padding: 0; /* remove padding so the image fills the square */
}

.social-icons a:hover {
  background-color: #21262d;
  filter: brightness(0.8);
}

.social-icons img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  background-color: #0d1117; /* same as site background */
}
