:root {
  --background-color: #0d1117;
  --text-color: #ffffff;
  --muted-text-color: #6d6d6d;
  --contrast-color: #009999;
  --border-color: #ffffff2c;
}

/* ============================
   GLOBAL STYLES
   ============================ */

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: monospace;
}

h1 {
  font-size: 1.5em;
  margin: 0.5em 0 0.2em 0;
}

h2 {
  margin: 0.3em 0 0.2em 0;
  font-size: 1.2em;
}

h3 {
  margin: 0.1em 0 0.2em 0;
  font-size: 1em;
}

p {
  line-height: 16px;
}

ul {
  padding-left: 1.5em;
}

a {
  color: var(--contrast-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  text-decoration: underline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width:  min(80%, 100ch);
  margin: 0 auto 0 auto;
  padding: 2em 0 0 0;
  box-sizing: border-box;
}

.location {
  margin: 0 0 0 0;
  color: var(--muted-text-color);
  font-size: 0.85em;
}

/* ============================
   HEADER STYLES
   ============================ */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 4em 0;
  gap: 1em;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--muted-text-color);
  transition: color 0.3s;
}

/* ============================
   PROFILE CARD STYLES
   ============================ */

.profile-card {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1.5em;
  box-shadow: 0 0 40px -20px var(--contrast-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
}

.social-icons {
  display: grid;
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-left: auto;
  justify-content: flex-end;
}

.social-icons a {
  height: 48px;
  width: 48px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  transition: background-color 0.3s, filter 0.3s;
}

.social-icons a:hover {
  filter: brightness(0.6);
}

.social-icons img {
  width: 100%;
  height: 100%;
}

/* ============================
   TECH ICONS
   ============================ */

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5em 0 0 0;
  gap: 2em;
  justify-content: center;
  max-width: 100%;
}

.tech-icons img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

/* ============================
    TECH ITEM WITH LABEL ON HOVER
    ============================ */

.tech-item {
  flex: 0 1 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-item img {
  height: 48px;
  width: auto;
  filter: grayscale(100%);
  transition: filter 0.3s, transform 0.2s;
}

.tech-item:hover img {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.tech-label {
  margin-top: 0.5em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tech-item:hover .tech-label {
  opacity: 1;
}

/* ============================
   TIMELINE STYLES
   ============================ */

/* Flex column container holds line + content */
.timeline-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Vertical line adapts to content height */
.timeline-line {
  position: absolute;
  top: 1.5em;
  bottom: 2.7em;
  left: 12px;
  width: 2px;
  background-color: var(--border-color);
}

/* Cada item da timeline */
.timeline-item {
  position: relative;
  margin-bottom: 2em;
  padding-left: 3em;
}

/* Marcador apenas em cada novo item */
.timeline-marker {
  position: absolute;
  left: 0.54em;
  top: 0.4em;
  width: 12px;
  height: 12px;
  box-shadow: 0 0 5px 1px var(--contrast-color);

  background-color: var(--contrast-color);
  border: 4px solid var(--muted-text-color);
  border-radius: 50%;
}

/* Conteúdo */
.timeline-header {
  cursor: pointer;
  margin-bottom: 1em;
}

/* Default arrow (pointing down) */
#toggle-arrow {
  transform: rotate(0deg);
}

/* Rotated arrow when timeline is collapsed */
.timeline.collapsed #toggle-arrow {
  transform: rotate(90deg);
}

.timeline-body {
  max-height: 100rem;
  overflow: hidden;
  transition: max-height 1s ease, opacity 1s ease;
}

.timeline.collapsed .timeline-body {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

/* ============================
   ZIGZAG TIMELINE STYLES
   ============================ */

.zigzag-timeline {
  margin: 0 auto 0 auto;
}

.zigzag-timeline__item {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  padding: 2em 0em 2em 0em;
}

.zigzag-timeline__milestone {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
  background: var(--muted-text-color);
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px -5px var(--contrast-color);
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  opacity: 1;
  z-index: 1;
}

.zigzag-timeline__item:nth-child(2n + 1) {
  border-left: 1px solid var(--border-color);
  text-align: left;
  padding-left: 2.5em;
}

.zigzag-timeline__item:nth-child(2n + 1) .zigzag-timeline__milestone {
  left: 0;
  transform: translate(-50%, -50%);
}

.zigzag-timeline__item:nth-child(2n) {
  border-right: 1px solid var(--border-color);
  text-align: right;
  padding-right: 2.5em;
}

.zigzag-timeline__item:nth-child(2n) .zigzag-timeline__milestone {
  right: 0;
  transform: translate(50%, -50%);
}

.zigzag-timeline__content {
  display: inline-block;
  background-color: transparent;
  padding: 1em;
  border-radius: 6px;
  max-width: 91%;
}

/* ============================
   FOOTER STYLES
   ============================ */

.site-footer {
  text-align: center;
  margin-top: 4em;
  padding: 2em 1em;
}

.site-footer hr {
  margin: 0 auto 1em auto;
  border: none;
  border-top: 2px solid var(--border-color);
}
